
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px; 

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .85;
}


div.admin-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px; 

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

  div.admin-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.landing-page-text{
    margin: auto;
    padding: 220px 0px;
    width: 85%;
    text-align: center;


}
/* .landing-page-text h1{
    color: #000;
    text-shadow:
        1px 1px 0 #ffff8f,
      -1px -1px 0 #ffff8f,  
       1px -1px 0 #ffff8f,
       -1px 1px 0 #ffff8f,
        1px 1px 0 #ffff8f;
} */

.btn-primary{

    
    color:#fff;
}

.btn-primary:hover{

    /* color:#ffff8f; */
}

.bg-danger {
  background-color: #f2dede;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0px 20px;
}

input {
  border-radius: 4px !important;
  width: 100%;

  border-width: 2px;
  padding: 5px;
  font-size: 16px;

}