.masthead{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

@media only screen and (max-width: 991px) {
  .full-screen-only {
    display: none;
  }
} 

body{
  background-color: #d8d5c7;
}

.table-header {
  font-weight: bold;
}

.table-header:hover {
  color: #337ab7;
  cursor: pointer;
}
.job-name{
  font-weight: bold;
}
.searchAreaRadio {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;

}



/* 1199 */
.social-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* #3b5998; */
  background-color: #1e67a7;
  color: white;
  font-size: 18px;
  padding: 15px 0px;
  text-align: center;
  cursor: pointer;
  /* display: none; */
  z-index: 3;
}

.social-footer:hover{
  background-color: #3b5998;
}

.facebook-logo{
  width: 20px;
}

@media only screen and (max-width: 1199px) {
  .social-footer {
    display: block;
    font-size: 18px
  }
} 

@media only screen and (max-width: 767px) {
  .vanishing-header {
    display: none;
  }
}

.filter-input {
  font-size: 20px;
  padding: 12px 20px;
  margin: 0px 8px 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  flex-grow: 3;
}

.description-paragraph{
  padding: 20px 0px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #337ab7;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  margin: 0px 0px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #1e67a7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 212px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  top: 54px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.search-inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}