.masthead{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

@media only screen and (max-width: 991px) {
  .full-screen-only {
    display: none;
  }
} 

body{
  background-color: #d8d5c7;
}

.table-header {
  font-weight: bold;
}

.table-header:hover {
  color: #337ab7;
  cursor: pointer;
}


@media only screen and (max-width: 767px) {
  .vanishing-header {
    display: none;
  }
}

.filter-input {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.description-paragraph{
  padding: 20px 0px;
}