.social-link{
  font-size: 24px;
  font-weight: bold;
}

.square-ad{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.social-sharing-header{
  font-size: 32px;
}

.social-sharing{
  position: sticky;
  top: 0px;
}